@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
.body{
    background-color: #F2F5F9;
}

.doctor-view-2-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray-white);
    width: 80rem;
    height: 3.81rem;
  }
  .union-icon {
    position: relative;
    width: 1.84rem;
    height: 1.63rem;
  }
  .medio {
    position: absolute;
    top: 0;
    left: 2.38rem;
    letter-spacing: -0.04em;
    line-height: 2rem;
  }
  .union-parent {
    position: absolute;
    height: 3.85%;
    width: 9.06%;
    top: 1.8%;
    right: 45.47%;
    bottom: 94.35%;
    left: 45.47%;
    font-size: var(--heading-xs-bold-size);
    color: var(--blue-50);
  }
  .vector-icon {
    position: absolute;
    height: 2.16%;
    width: 1.88%;
    top: 2.64%;
    right: 95.08%;
    bottom: 95.19%;
    left: 3.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .name,
  .name1 {
    position: absolute;
    top: 5.88rem;
    left: 19.94rem;
    font-size: 30px;
    letter-spacing: -0.04em;
    line-height: 2.75rem;
    font-weight: 800;
    color: var(--gray-100);
    display: inline-block;
    width: 9.5rem;
  }
  .name1 {
    left: 66.63rem;
    width: 9.94rem;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--gray-white);
    width: 34.5rem;
    height: 30.63rem;
  }
  .name2,
  .name3 {
    position: absolute;
    top: 1.39rem;
    left: 14.5rem;
    letter-spacing: -0.01em;
    display: inline-block;
    width: 6.31rem;
    height: 1.39rem;
  }
  .name3 {
    top: 22.48rem;
    left: 15.63rem;
    width: 3.19rem;
  }
  .group-child1,
  .group-child2,
  .group-inner,
  .group-item,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 34rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-gainsboro-100);
    width: 0.56rem;
    height: 0.08rem;
    opacity: 0.51;
  }
  .group-child1,
  .group-child2,
  .group-inner,
  .rectangle-div {
    left: 33rem;
    opacity: 0.52;
  }
  .group-child1,
  .group-child2,
  .rectangle-div {
    left: 32rem;
    opacity: 0.54;
  }
  .group-child1,
  .group-child2 {
    left: 31rem;
    opacity: 0.55;
  }
  .group-child2 {
    left: 30rem;
    opacity: 0.57;
  }
  .group-child10,
  .group-child11,
  .group-child3,
  .group-child4,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    position: absolute;
    top: 0;
    left: 29rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-gainsboro-100);
    width: 0.56rem;
    height: 0.08rem;
    opacity: 0.58;
  }
  .group-child10,
  .group-child11,
  .group-child4,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    left: 28rem;
    opacity: 0.59;
  }
  .group-child10,
  .group-child11,
  .group-child5,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    left: 27rem;
    opacity: 0.61;
  }
  .group-child10,
  .group-child11,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    left: 26rem;
    opacity: 0.62;
  }
  .group-child10,
  .group-child11,
  .group-child7,
  .group-child8,
  .group-child9 {
    left: 25rem;
    opacity: 0.64;
  }
  .group-child10,
  .group-child11,
  .group-child8,
  .group-child9 {
    left: 24rem;
    opacity: 0.65;
  }
  .group-child10,
  .group-child11,
  .group-child9 {
    left: 23rem;
    opacity: 0.67;
  }
  .group-child10,
  .group-child11 {
    left: 22rem;
    opacity: 0.68;
  }
  .group-child11 {
    left: 21rem;
    opacity: 0.7;
  }
  .group-child12,
  .group-child13,
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    position: absolute;
    top: 0;
    left: 20rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-gainsboro-100);
    width: 0.56rem;
    height: 0.08rem;
    opacity: 0.71;
  }
  .group-child13,
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 19rem;
    opacity: 0.72;
  }
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 18rem;
    opacity: 0.74;
  }
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 17rem;
    opacity: 0.75;
  }
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 16rem;
    opacity: 0.77;
  }
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 15rem;
    opacity: 0.78;
  }
  .group-child18,
  .group-child19,
  .group-child20 {
    left: 14rem;
    opacity: 0.8;
  }
  .group-child19,
  .group-child20 {
    left: 13rem;
    opacity: 0.81;
  }
  .group-child20 {
    left: 12rem;
    opacity: 0.83;
  }
  .group-child21,
  .group-child22,
  .group-child23,
  .group-child24,
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    position: absolute;
    top: 0;
    left: 11rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-gainsboro-100);
    width: 0.56rem;
    height: 0.08rem;
    opacity: 0.84;
  }
  .group-child22,
  .group-child23,
  .group-child24,
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 10rem;
    opacity: 0.86;
  }
  .group-child23,
  .group-child24,
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 9rem;
    opacity: 0.87;
  }
  .group-child24,
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 8rem;
    opacity: 0.88;
  }
  .group-child25,
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 7rem;
    opacity: 0.9;
  }
  .group-child26,
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 6rem;
    opacity: 0.91;
  }
  .group-child27,
  .group-child28,
  .group-child29 {
    left: 5rem;
    opacity: 0.93;
  }
  .group-child28,
  .group-child29 {
    left: 4rem;
    opacity: 0.94;
  }
  .group-child29 {
    left: 3rem;
    opacity: 0.96;
  }
  .group-child30 {
    left: 2rem;
    opacity: 0.97;
  }
  .group-child30,
  .group-child31,
  .group-child32 {
    position: absolute;
    top: 0;
    border-radius: var(--br-81xl);
    background-color: var(--color-gainsboro-100);
    width: 0.56rem;
    height: 0.08rem;
  }
  .group-child31 {
    left: 1rem;
    opacity: 0.99;
  }
  .group-child32 {
    left: 0;
  }
  .group,
  .rectangle-parent {
    position: absolute;
    width: 34.56rem;
  }
  .group {
    top: 21.7rem;
    left: 0;
    height: 0.08rem;
  }
  .rectangle-parent {
    background-color: white !important;
    top: 10.19rem;
    left: 6.38rem;
    height: 30.63rem;
    font-size: var(--text-xl-bold-size);
    color: var(--gray-100);
  }
  .group-child33 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--gray-white);
    width: 34.5rem;
    height: 28.56rem;
  }
  .name4 {
    top: 1.3rem;
    left: 14.5rem;
    letter-spacing: -0.01em;
    display: inline-block;
    width: 6.31rem;
    height: 1.3rem;
  }
  .group1,
  .name4,
  .name5 {
    position: absolute;
  }
  .name5 {
    top: 20.97rem;
    left: 15.63rem;
    letter-spacing: -0.01em;
    display: inline-block;
    width: 3.19rem;
    height: 1.3rem;
  }
  .group1 {
    top: 20.24rem;
    left: 0;
    width: 34.56rem;
    height: 0.08rem;
  }
  .pluscircle {
    position: absolute;
    top: 11.89rem;
    left: 15.56rem;
    width: 2rem;
    height: 1.87rem;
    overflow: hidden;
  }
  .rectangle-group {
    position: absolute;
    top: 10.25rem;
    left: 52.44rem;
    width: 34.56rem;
    height: 28.56rem;
    font-size: var(--text-xl-bold-size);
    color: var(--gray-100);
    background-color: white !important;
  }
  .doctor-view-2-item {
    position: absolute;
    top: 35.25rem;
    left: 51.75rem;
    border-radius: 2.5px;
    border: 0.8px solid var(--blue-50);
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
  }
  .doctor-view-2-inner {
    position: absolute;
    top: 35.44rem;
    left: 51.94rem;
    border-radius: 1px;
    background-color: var(--blue-50);
    width: 0.38rem;
    height: 0.38rem;
  }
  .doctor-view-2-child1,
  .doctor-view-2-child2 {
    background-color: white !important;
    position: absolute;
    top: 42.5rem;
    left: 6.38rem;
    border-radius: var(--br-xs);
    background-color: var(--gray-white);
    width: 34.5rem;
    height: 4.31rem;
  }
  .doctor-view-2-child2 {
    top: 40.31rem;
    left: 52.38rem;
  }
  .name6,
  .name7 {
    position: absolute;
    top: 43.88rem;
    left: 7.25rem;
    font-size: var(--text-xl-bold-size);
    letter-spacing: -0.01em;
    display: inline-block;
    color: var(--gray-100);
    width: 5.13rem;
  }
  .name7 {
    top: 41.69rem;
    left: 53.25rem;
  }
  .group-child69 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--gray-10);
    border: 1.5px solid var(--gray-70);
    box-sizing: border-box;
    width: 6.63rem;
    height: 1.94rem;
  }
  .ellipse-div {
    position: absolute;
    top: 0.56rem;
    left: 0.69rem;
    border-radius: 50%;
    background-color: var(--color-red);
    width: 0.81rem;
    height: 0.81rem;
  }
  .covid-19 {
    position: absolute;
    width: 10rem;
    /* top: 0.44rem; */
    left: 4.88rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .covid-191 {
    position: absolute;
    width: 10rem;
    /* top: 0.44rem; */
    left: 12.88rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .rectangle-container {
    position: absolute;
    top: 43.69rem;
    left: 10.06rem;
    width: 6.63rem;
    height: 1.94rem;
  }
  .add,
  .group-div {
    position: absolute;
  }
  .group-div {
    top: 41.5rem;
    left: 49.06rem;
    width: 6.63rem;
    height: 1.94rem;
  }
  .add {
    top: 0.38rem;
    left: -0.12rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .add1 {
    position: absolute;
    top: 0.15rem;
    left: 15.88rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .add2 {
    position: absolute;
    left: 13.88rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .vector-icon1 {
    position: absolute;
    height: 41.94%;
    width: 12.26%;
    top: 29.03%;
    right: 63.21%;
    bottom: 29.03%;
    left: 24.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .rectangle-parent1,
  .rectangle-parent2,
  .rectangle-parent3 {
    position: absolute;
    top: 18.88rem;
    left: 66.13rem;
    width: 6.63rem;
    height: 1.94rem;
  }
  .rectangle-parent2,
  .rectangle-parent3 {
    top: 34.63rem;
    left: 59.88rem;
  }
  .rectangle-parent3 {
    top: 41.5rem;
    left: 57.06rem;
  }
  .group-child75 {
    position: absolute;
    top: 0.13rem;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-red);
    width: 0.81rem;
    height: 0.81rem;
  }
  .severe {
    position: absolute;
    top: 0;
    left: 1.38rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .ellipse-parent {
    position: absolute;
    top: 48.13rem;
    left: 6.06rem;
    width: 4.31rem;
    height: 1.13rem;
    color: var(--gray-50);
  }
  .group-child76 {
    position: absolute;
    top: 0.13rem;
    left: 0;
    border-radius: 50%;
    background-color: #ff9b26;
    width: 0.81rem;
    height: 0.81rem;
  }
  .ellipse-group {
    position: absolute;
    top: 48.13rem;
    left: 10.13rem;
    width: 3.94rem;
    height: 1.13rem;
    color: var(--gray-50);
  }
  .group-child77 {
    position: absolute;
    top: 0.13rem;
    left: 0;
    border-radius: 50%;
    background-color: #ffdc26;
    width: 0.81rem;
    height: 0.81rem;
  }
  .ellipse-container {
    position: absolute;
    top: 48.13rem;
    left: 14.63rem;
    width: 6.19rem;
    height: 1.13rem;
    color: var(--gray-50);
  }
  .group-child78 {
    position: absolute;
    top: 0.13rem;
    left: 0;
    border-radius: 50%;
    background-color: #b9ff26;
    width: 0.81rem;
    height: 0.81rem;
  }
  .ellipse-parent1 {
    position: absolute;
    top: 48.13rem;
    left: 22.63rem;
    width: 6.06rem;
    height: 1.13rem;
    color: var(--gray-50);
  }
  .group-child79 {
    position: absolute;
    top: 0.13rem;
    left: 0;
    border-radius: 50%;
    background-color: #44ff26;
    width: 0.81rem;
    height: 0.81rem;
  }
  .ellipse-parent2 {
    position: absolute;
    top: 48.13rem;
    left: 29.5rem;
    width: 3.81rem;
    height: 1.13rem;
    color: var(--gray-50);
  }
  .span {
    color: var(--blue-60);
  }
  .cetamol {
    color: var(--gray-30);
  }
  .loremus-ipsumus-d-container {
    position: absolute;
    top: -0.12rem;
    left: 10.44rem;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .group-child80 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xs);
    border: 1px solid var(--gray-20);
    box-sizing: border-box;
    width: 29.25rem;
    height: 3rem;
  }
  .group-child82 {
    position: absolute;
    top: 0.03rem;
    left: 24.41rem;
    width: 0.06rem;
    height: 2.94rem;
  }
  .x1 {
    position: absolute;
    top: 14.5rem;
    left:84.31rem;
    font-size: var(--text-lg-bold-size);
    letter-spacing: -0.01em;
  }
  .group-child83,
  .polygon-icon {
    position: absolute;
    top: 1.23rem;
    left: 27.77rem;
    width: 0.42rem;
    height: 0.49rem;
  }
  .group-child83 {
    left: 25.56rem;
  }
  .loremus-ipsumus-d-parent {
    position: absolute;
    top: 14.69rem;
    left: 43.88rem;
    width: 29.25rem;
    height: 3rem;
    font-size: var(--text-md-semibold-size);
  }
  .loremus-ipsumus-d {
    position: absolute;
    top: 0.5rem;
    left: 0.38rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: inline-block;
    width: 7.75rem;
    height: 1.94rem;
  }
  .group-child84 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xs);
    border: 1px solid var(--gray-20);
    box-sizing: border-box;
    width: 10.69rem;
    height: 2.31rem;
  }
  .group-child85 {
    position: absolute;
    top: 0.01rem;
    left: 8.18rem;
    width: 0.06rem;
    height: 2.3rem;
  }
  .loremus-ipsumus-d-group {
    position: absolute;
    top: 34.44rem;
    left: 56.75rem;
    width: 10.69rem;
    height: 2.44rem;
    font-size: var(--text-md-semibold-size);
  }
  .loremus-ipsumus-d-container1 {
    position: absolute;
    top: 0.5rem;
    left: 13.5rem;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: inline-block;
    width: 3.25rem;
    height: 1.94rem;
  }
  .group-child86 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xs);
    border: 1px solid var(--gray-20);
    box-sizing: border-box;
    width: 4.19rem;
    height: 2.31rem;
  }
  .loremus-ipsumus-d-parent1 {
    position: absolute;
    top: 34.44rem;
    left: 54.25rem;
    width: 4.19rem;
    height: 2.44rem;
    font-size: var(--text-md-semibold-size);
  }
  .group-child87,
  .group-child88 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--gray-10);
    width: 0.44rem;
    height: 15.88rem;
  }
  .group-child88 {
    background-color: var(--gray-60);
    height: 13.25rem;
  }
  .rectangle-parent4,
  .rectangle-parent5 {
    position: absolute;
    top: 15.06rem;
    left: 35.06rem;
    width: 0.44rem;
    height: 15.88rem;
  }
  .rectangle-parent5 {
    top: 14.69rem;
    left: 74.75rem;
  }
  .text {
    position: relative;
    letter-spacing: -0.01em;
  }
  .monotone-add-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
  .button-primary,
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content {
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .button-primary {
    position: absolute;
    top: 46.25rem;
    left: 70.13rem;
    border-radius: var(--br-xs);
    background-color: var(--blue-60);
    width: 8rem;
    height: 3.5rem;
    overflow: hidden;
    padding: var(--padding-base) var(--padding-13xl);
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;
    font-size: var(--text-md-semibold-size);
    color: var(--gray-white);
  }
  .loremus-ipsumus-d1 {
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 600;
  }
  .text1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .vector-icon4 {
    position: relative;
    width: 1.06rem;
    height: 1.13rem;
  }
  .content1 {
    position: absolute;
    top: 46.38rem;
    left: 56.13rem;
    border-radius: var(--br-xs);
    background-color: var(--gray-white);
    width: 10.63rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-base);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-md-semibold-size);
  }
  .doctor-view-2 {
    position: relative;
    background-color: var(--gray-10);
    width: 100%;
    height: 52rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--text-sm-semibold-size);
    color: var(--gray-70);
    font-family: var(--text-md-semibold);
  }

.check{
    top: 2rem;
    width: 33rem;
    margin-top: 30px;
    position: absolute;
    left: 1rem;
}
  