@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
.tex{
    text-align: center;
    padding-top: 5rem;
}
.text{
    text-align: center;
    padding-top: 7rem;
}
.text2{
    font-family: 'Plus Jakarta Display', sans-serif;
    font-size: 26px;
    text-emphasis: 700;
    
}

.input{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.inputbox{
    font-family: 'Plus Jakarta Display', sans-serif;
    width: 300px;
}

.logo{
    text-align: center;
    height: 200px;
    padding-left: 102px;
    padding-right: 102px;

}

.chuck{
    margin: 100px;
}